@import "~bootstrap/scss/bootstrap";

$balance-positive: green;
$balance-negative: red;

body {
  background-color: #eee;
}

.balancePositive {
  color: $balance-positive;
}

.balanceNegative {
  color: $balance-negative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  z-index: 9;
}
