<script setup>
import Select from "@/components/Select.vue";
import { axiosInstance } from "@/main";
</script>

<script>
export default {
  props: {
    selectedAccount: { type: String },
  },
  data() {
    return {
      date: [
        {
          name: "Most recent",
          value: "asc",
          selected: true,
        },
        {
          name: "Most oldest",
          value: "desc",
        },
      ],
      categories: [],
      categoriesLoading: false,
      categoryKey: 0,
      dateKey: 0,
    };
  },
  mounted() {
    this.getCategories();
  },
  methods: {
    async getCategories() {
      try {
        this.categoriesLoading = true;
        const response = await axiosInstance.get("/categories");
        this.categories = response.data.map((category) => {
          return {
            name: category,
            value: category,
          };
        });
      } catch (error) {
        console.log(error);
      } finally {
        this.categoriesLoading = false;
      }
    },
    categorySelect(value) {
      this.$emit("onCategorySelect", value);
    },
    dateSelect(value) {
      this.$emit("onDateSelect", value);
    },
  },
  watch: {
    selectedAccount: function (newValue, oldValue) {
      if (newValue !== oldValue) {
        //reset Select component values
        this.categoryKey += 1;
        this.dateKey += 1;
      }
    },
  },
};
</script>

<template>
  <section class="mt-3 filtersWrap">
    <div class="sortText">Sort by:</div>
    <Select
      defaultName="Category"
      @selectedValue="categorySelect"
      :options="categories"
      customClasses="flex-grow-1 categoryFilter"
      :loading="categoriesLoading"
      :key="categoryKey"
    />
    <Select
      :showDefaultName="false"
      @selectedValue="dateSelect"
      :options="date"
      customClasses="flex-grow-1"
      :key="dateKey"
    />
  </section>
</template>

<style scoped>
.filtersWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sortText {
  margin-right: 20px;
}
</style>
