<script>
export default {
  props: {
    options: { type: Array, required: true },
    defaultName: { type: String },
    showDefaultName: { type: Boolean, default: true },
    loading: { default: false, type: Boolean },
    customClasses: { type: String },
  },
  methods: {
    onChange(event) {
      this.$emit("selectedValue", event.target.value);
    },
  },
};
</script>

<template>
  <div class="selectContainer" :class="customClasses">
    <div v-show="loading" class="overlay"></div>
    <select class="form-select" @change="onChange($event)">
      >
      <option v-if="showDefaultName" value="">
        {{ defaultName ? defaultName : "Select" }}
      </option>
      <option
        v-for="option in options"
        v-bind:value="option.value"
        v-bind:key="option.value"
        v-bind:selected="option.selected"
      >
        {{ option.name }}
      </option>
    </select>
  </div>
</template>

<style scoped>
.selectContainer {
  position: relative;
}
</style>
