<script>
export default {
  props: ["amount", "date", "currency", "category"],
  methods: {
    formatDate(dateStr) {
      var date = new Date(dateStr);
      return date.toLocaleDateString("en-GB");
    },
  },
};
</script>

<template>
  <li class="list-group-item list">
    <div>
      <div
        class="amount"
        :class="parseInt(amount) > 0 ? 'balancePositive' : 'balanceNegative'"
      >
        {{ amount }} {{ currency }}
      </div>
      <div class="category">{{ category }}</div>
    </div>
    <div class="date">{{ formatDate(date) }}</div>
  </li>
</template>

<style scoped>
.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.category {
  color: #6966ef;
}
</style>
