<script setup>
import Transaction from "@/components/Transaction.vue";
</script>

<script>
export default {
  props: {
    transactions: { type: Array, required: true },
    loading: { default: false, type: Boolean },
  },
  data() {
    return {
      totalAmount: null,
    };
  },
  methods: {
    getTotalAmount(values) {
      let total = null;

      for (let index = 0; index < values.length; index++) {
        total += parseInt(values[index].amount);
      }

      this.totalAmount = total;
    },
  },
  watch: {
    transactions: function (newVal) {
      this.getTotalAmount(newVal);
    },
  },
};
</script>

<template>
  <section class="mt-3">
    <div v-if="loading && !transactions.length">Loading...</div>
    <div v-if="transactions.length">
      <h5>Transations:</h5>
      <div class="position-relative">
        <div v-show="loading" class="overlay"></div>
        <ul class="list-group">
          <Transaction
            v-for="t in transactions"
            :key="t.id"
            :amount="t.amount"
            :currency="t.currency"
            :date="t.date"
            :category="t.category"
          />
          <li
            v-if="transactions.length"
            class="list-group-item total"
            :class="totalAmount > 0 ? 'balancePositive' : 'balanceNegative'"
          >
            Total: {{ totalAmount }} {{ transactions[0].currency }}
          </li>
        </ul>
      </div>
    </div>
  </section>
</template>

<style scoped>
.list-group-item.total {
  font-weight: 500;
  border-top-width: 5px;
}
</style>
