<script setup>
import Select from "@/components/Select.vue";
import TransactionList from "@/components/TransactionList.vue";
import Filters from "@/components/Filters.vue";
import { axiosInstance } from "@/main";
</script>

<script>
export default {
  data() {
    return {
      accounts: [],
      accountsLoading: false,
      selectedAccount: "",
      transactions: [],
      transactionsLoading: false,
      filters: {
        date: "asc",
        category: "",
      },
    };
  },
  mounted() {
    this.getAccounts();
  },
  methods: {
    async getAccounts() {
      try {
        this.accountsLoading = true;
        const response = await axiosInstance.get("/accounts");
        this.accounts = response.data.map((account) => {
          return {
            name: `${account.owner} - ${account.iban}`,
            value: account.id,
          };
        });
      } catch (error) {
        console.log(error);
      } finally {
        this.accountsLoading = false;
      }
    },

    onAccountSelect(value) {
      this.selectedAccount = value;
      //clear filters
      this.filters.date = "asc";
      this.filters.category = "";

      if (value) {
        this.getTransactions(value);
      } else {
        this.transactions = [];
      }
    },

    async getTransactions(accountId = "", category = "", date = "asc") {
      if (!accountId) return;

      try {
        this.transactionsLoading = true;
        const response = await axiosInstance.post("/transactions", {
          accountId,
          category,
          date,
        });
        this.transactions = response.data;
      } catch (error) {
        console.log(error);
      } finally {
        this.transactionsLoading = false;
      }
    },

    onCategorySelect(val) {
      this.filters.category = val;
    },
    onDateSelect(val) {
      this.filters.date = val;
    },
  },
  watch: {
    "filters.date": function (date) {
      this.getTransactions(this.selectedAccount, this.filters.category, date);
    },
    "filters.category": function (category) {
      this.getTransactions(this.selectedAccount, category, this.filters.date);
    },
  },
};
</script>

<template>
  <div class="mainContainer">
    <h4 class="text-center mb-3">Select your account to view details</h4>
    <Select
      @selectedValue="onAccountSelect"
      :options="accounts"
      defaultName="Select account"
      :loading="accountsLoading"
    />

    <Filters
      v-if="transactions.length || filters.category"
      @onCategorySelect="onCategorySelect"
      @onDateSelect="onDateSelect"
      :selectedAccount="selectedAccount"
    />

    <TransactionList
      v-if="selectedAccount"
      :loading="transactionsLoading"
      :transactions="transactions"
    />
  </div>
</template>

<style scoped>
.mainContainer {
  max-width: 550px;
  margin: 100px auto;
  padding: 0 20px;
}
</style>
